.reservation_style {
    display: flex;
    background-image: url(../../images/hotel\ 3.jpg);
    background-position: center;
    background-size: cover;
    min-height: 100vh;

}

.form-style {
    display: flex;
    flex-flow: column wrap;
    margin-top: 15%;
    margin-bottom: 15%;
    left: 18%;
    background-color: cornflowerblue;
    border: '30px dashed cornflowerblue';
    border-color: '#282c34';
    border-radius: '40px';
    color: 'black';
    font-family: "Georgia, Verdana, Geneva, Tahoma, sans-serif";
    min-height: 15%;
    width: 40%;
    justify-content: center;
    align-items: center;
  }