* {
    margin: 0;
    padding: 0;
    justify-content: flex-start;
    align-items: center;
    
}


.sidebar-menu {
    display: flex;
    /* margin-left: -3rem; */
    justify-content: flex-start;
    align-items: flex-end;
    border-left: 4px solid tan;
    border-bottom: 4px solid tan;
    border-radius: 10px;
}

.sidebar-menu :hover {
    background-color: cornflowerblue;
    border-radius: 5px;
    text-decoration: none;

}

span a {
    /* margin-left: 2em; */
    text-decoration: none;
    font-weight: bold;
    color: ghostwhite;

}