.formStyle {
    background-color: 'lightseagreen';
    border: '30px';
    border-color: '#282c34';
    border-radius: '10px';
    color: 'black';
    font-family: "Georgia, Verdana, Geneva, Tahoma, sans-serif";
  }